{% extends './layout.html' %}
{% block title %}{{ article.title }} | Siedrix.com{% endblock %}

{% block head %}
{% if article.image %}
<style type="text/css">
header{
	background-image: url('{{ static }}/imgs/{{article.image}}');
	{% if article.imagePositionY %}
	background-position-y: {{article.imagePositionY}}
	{% endif %}
}
</style>
{% endif %}
{% endblock %}


{% block content %}
	<div class="post-single">
		<h1>{{ article.title }}</h1>
		<div>{% autoescape false %}
			{{ article.content }}
		{% endautoescape %}</div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('.content a').each(function(i,item){
		var $item = $(item);
		$item.attr('target', '_blank');
	});
});
</script>
{% endblock %}