{
  "sourceMaps": true,
  "presets": [
    ["es2015", {"loose": true}],
    "stage-0"
  ],
  "plugins": [
    ["css-modules-transform", {
      "preprocessCss": "./server/scss-loader.js",
      "generateScopedName": "[local]__",
      "extensions": [".scss"]
      }
    ],
    ["transform-assets", {
      "extensions": ["png"],
      "name": "[name].[ext]?[sha512:hash:base64:7]",
      }
    ],
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
