.AboutCard{
  width: 450px;
  height: 360px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: height .4s ease-in;
  border-radius: 3px;
  @media screen and (max-width: 450px) {
    width: 96%;
  }

  &--compact{
    height: calc(100vh - 40px);
  }

  &__Bio{
    background: white;
    display: block;
    clear: both;
    box-sizing: border-box;
    width: 88%;
    height: 100%;
    order: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #222;
    &__Avatar{
      width: 100%;
      border-top-right-radius: 2px;
    }
    &__Info{
      padding: 15px 10px 12px 10px;
      &__Title{
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        user-select: none;
        padding: 0;
        margin: 0;
      }
      &__Subtitle{
        color: #0091FF;
        font-size: 14px;
        font-weight: 300;
        user-select: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  &__Sidebar{
    height: 100%;
    line-height: 0;
    max-width: 12%;
    width: 12%;
    margin: 0;

    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center 7%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &__SocialLinks{
      text-align: center;
      list-style-type: none;
      padding: 0;
      position: relative;
      margin: 0;

      &__Wrapper{
        height: calc(100% - 185px);
        min-height: 150px;
        line-height: 0;
        width: 32px;
        display: flex;
        box-sizing: border-box;
        margin: 0 auto;
        flex-direction: column-reverse;
      }

      &__Item{
        margin: 4px 0;
        display: inline-flex;
      }
    }

    &__Link{
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      line-height: 12px;
      cursor: pointer;

      &__Text{
        padding: 1px;
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
        font-family: 'Share Tech Mono', Courier;
        &:hover {
          color: #0091FF;
          text-decoration: underline;
        }
        &--active{
          color: #0091FF;
        }
      }

      &__Icon{
        width: 72%;
      }
    }
  }

  &__Activity{
    display: none;
    position: relative;
    border: none !important;
    &--show{
      display: block;
      height: calc(100% - 365px);
    }

    &__Close{
      position: absolute;
      top: 7px;
      right: 3px;
      color: #aaa;
      font: 16px/100% arial, sans-serif;
      text-decoration: none;
      cursor: pointer;
      &:after {
        content: '×';
      }
      &:hover {
        color: #eee
      }
    }
  }
}
