.wrapper {
	width: 900px;
	margin: 20px auto;
	padding-left: 300px;	
}

.content {
	margin-top: 80px;
	line-height: 26px;
}

.navbar {
	background: #FFF;
	border-bottom: 0;
	opacity: .9;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background: #000;
}

.navbar-inverse .navbar-collapse{
	border: 0;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #d0d0d0;
}

.navbar-inverse .navbar-brand{
	color: #000;
}
.navbar-inverse .navbar-brand:hover{
	color: #999;
}

.navbar-inverse .navbar-nav>li>a{
	color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #999;
}

header {
	background: url('../imgs/8seTuSW.jpg') no-repeat center -500px;
	height: 600px
}

.content {
	margin-top: -250px;
	min-height: 500px;
	background: white;
	padding: 25px 50px;
}

.post-single h1, .post h4, .page h1, .page h2, .page h3, .page h4, .page h5, .page h6{
	font-family: 'Bitter', serif;
	text-transform: uppercase;
}

.post h4{
	font-size: 21px;
}

.post h4 a{
	color: #000;
}

.post, .post-single {
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 35px;
	font-size: 16px;
	text-align: justify;
}

.post .read-more{
	text-align: right;
}

pre{
	background: none;
	border: none;
}

/* Iphone media query */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.wrapper {
		width: 90%;
		padding-left: 0;
	}

	.content {
		margin-top: -520px;
		line-height: 45px;
	}
	.post, .post-single{
		font-size: 35px;
	}
	.post p, .post-single p{
		margin-bottom: 28px;
	}
	.post h4{
		font-size: 40px
	}
	.content h1{
		font-size: 55px;
	}
}

@media (max-width: 940px) {
	header{
		height: 500px;
		background-position-y: -600px;
	}

	.wrapper{
		padding-left: 0px;
		width: 90%;
	}
}