p {
	margin: 0 0 25px;
}

blockquote{
	width: 130%;
	margin-left:-15%;
	border: 0;
}

blockquote p{
	font-size: 27px;
	line-height: 32px;
	text-align: center;
}

a:hover{
	text-decoration: none;
}

.wrapper {
	width: 800px;
	margin: 20px auto;
}

.content {
	margin-top: -250px;
	line-height: 26px;
	padding: 60px 100px;
	min-height: 500px;
	background: white;
}

.navbar {
	background: #FFF;
	border-bottom: 0;
	opacity: .9;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background: #000;
}

.navbar-inverse .navbar-collapse{
	border: 0;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #d0d0d0;
}

.navbar-inverse .navbar-brand{
	color: #000;
}
.navbar-inverse .navbar-brand:hover{
	color: #999;
}

.navbar-inverse .navbar-nav>li>a{
	color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #999;
}

header {
	background: url('../imgs/8seTuSW.jpg') no-repeat center -500px;
	height: 600px
}

.post-single h1, .post h4, .page h1, .page h2, .page h3, .page h4, .page h5, .page h6{
	font-family: 'Actor', sans-serif;
	text-transform: uppercase;
}

.post-single h1{
	margin-top: 0px;
	margin-bottom: 50px;
	text-align: center;
}

.post h4{
	color: #25629F;
	font-size: 21px;
}

.post h4 a{
	color: #000;
}

.post, .post-single {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-bottom: 35px;
	font-size: 16px;
	text-align: justify;
}

.post{
	color:black;
	padding: 10px 30px;
}

.post:hover{
	background: #eee
}

.post .read-more{
	color: #25629F;
}

.post .read-more, .post .date{
	text-align: right;
}

pre{
	background: none;
	border: none;
}

.footer{
	background: #eee;
	margin-top: 10px; 
	padding: 50px;
}

.footer .footer-wrapper{
	width: 400px;
	min-height: 100px;
	margin: 0 auto;
	max-width: 100%;
	text-align: justify;
}

.footer .footer-wrapper .avatar{
	border-radius: 50%;
	width: 100%
}

/* Iphone media query */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.wrapper {
		width: 90%;
		padding-left: 0;
	}

	.content {
		margin-top: -520px;
		line-height: 45px;
		padding: 20px 30px;
	}
	.post, .post-single{
		font-size: 35px;
	}
	.post p, .post-single p{
		margin-bottom: 28px;
	}
	.post h4{
		font-size: 40px
	}
	.content h1{
		font-size: 55px;
	}
}

@media (max-width: 940px) {
	header{
		height: 500px;
		background-position-y: -600px;
	}

	.wrapper{
		width: 90%;
	}

	.content {
		line-height: 30px;
		padding: 30px 30px;
	}	
}