.SpaceInvadersTV {
  background: #333 url('./images/spaceinvaders.png');
  min-height: 500px;
  min-width: 100%;
}


.SpaceInvaders { 
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
