.AboutCard {
  width: 450px;
  height: 360px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto 40px auto;
  &__Bio {
    background: white;
    display: block;
    clear: both;
    box-sizing: border-box;
    width: 88%;
    order: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #222;
    &__Avatar {
      width: 100%;
      border-top-right-radius: 2px;
    }
    &__Info {
      padding: 12px 10px;
      &__Title {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
      }
      &__Subtitle {
        color: #0091FF;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  &__SocialLinks {
    line-height: 0;
    display: flex;
    box-sizing: border-box;
    max-width: 12%;
    width: 12%;
    margin: 0;
    padding: 3.5%;
    list-style-type: none;
    text-align: center;
    background-image: url('./images/rog-logo.png');
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center 7%;
    flex-direction: column-reverse;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

}
