.AboutCard {
  width: 450px;
  height: 360px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: height .4s ease-in;

  &--compact {
    height: 595px;
  }

  &__Bio {
    background: white;
    display: block;
    clear: both;
    box-sizing: border-box;
    width: 88%;
    order: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #222;
    &__Avatar {
      width: 100%;
      border-top-right-radius: 2px;
    }
    &__Info {
      padding: 12px 10px 2px 12px;
      &__Title {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        user-select: none;
      }
      &__Subtitle {
        color: #0091FF;
        font-size: 14px;
        font-weight: 300;
        user-select: none;
      }
    }
  }

  &__SocialLinks {
    line-height: 0;
    display: flex;
    box-sizing: border-box;
    max-width: 12%;
    width: 12%;
    margin: 0;

    background-image: url('./images/rog-logo.png');
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center 7%;
    flex-direction: column-reverse;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &__List {
      max-width: 100%;
      width: 100%;
      text-align: center;
      list-style-type: none;
      padding: 0 30% 5px 30%;
      &__Item {
        margin: 5px 0;
        display: inline-flex;
      }
    }

    &__Link {
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      line-height: 12px;
      cursor: pointer;

      &__Text {
        padding: 3px 0;
        display: inline-block;
        font-weight: 400;
        &:hover {
          color: #0091FF;
          text-decoration: underline;
        }
        &--active {
          color: #0091FF;
        }
      }

      &__Icon {
        width: 100%;
      }
    }
  }

  &__Prompt {
    font-family: Courier;
    font-size: 14px;
    font-weight: 200;
    color: #dadada;
    padding: 6px 0 0 0;
    margin: 0 0 4px 0;
    height: 30px;
    background-color: #000;

    &__Symbol {
      float: left;
      padding: 0 2px 0 5px;
      color: #0091FF;
      font-size: 18px;
      position: relative;
      top: -6px;
    }
    &__Input {
      float: left;
      padding-left: 3px;
      white-space: pre;
      position: relative;
      top: -1px;
    }

    &__CMD {
      font-family: courier;
      font-size: 14px;
      overflow: hidden;
    }

    &__Caret {
      float: left;
      margin-left: 1px;
      width: 5px;
      height: 18px;
      background: #21f838;
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  &__Activity {
    display: none;
    position: relative;
    &--show {
      display: block;
    }
    &__Log {
      height: 202px;
      width: 99.5%;
      overflow-y: scroll;
      padding: 0 10px 5px 10px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.34, rgb(70, 70, 70)),
          color-stop(0.52, rgb(50, 50, 50)),
          color-stop(0.76, rgb(30, 30, 30)));
      }
      &__Item {
        padding: 5px 0;
        border-bottom: 1px dotted #d9d9d9;
        width: 98%;
        margin: 0 0 5px 0;
        p {
          color: #555;
          font-size: 13px;
          font-weight: 300;
          line-height: 16px;
        }
        span {
          color: #bbb;
          display: block;
          font-size: 10px;
          margin: 0;
          padding: 2px 0 0 0;
        }
        &:last-child {
          margin: 0;
          padding: 5px 0 0 0;
          border: none;
        }
      }
    }
    &__Close {
      position: absolute;
      top: 7px;
      right: 3px;
      color: #aaa;
      font: 16px/100% arial, sans-serif;
      text-decoration: none;
      cursor: pointer;
      &:after {;
        content: '×';
      }
      &:hover {
        color: #777
      }
    }
  }

}
