{% extends './layout.html' %}
{% block title %}{{ article.title }} | rog.mx{% endblock %}
{% block postclass %}post-template{% endblock %}
{% block content %}
<main id="main-content" role="main">
    <div class="">
        {% if article.image %}
        <header class="post-header">
            <h1 class="post-title">{{ article.title }}</h1>
            <div class="post-meta">
                <time datetime="{{ article.date|date('F jS, Y') }}">{{ article.date|date('F jS, Y') }}</time>
            </div>
        </header>
        <div class="cover_image" style="background-image: url(/static/blog-images/{{ article.image }});">
        </div>
        {% endif %}
        <div class="">
            <div class="">
                <article class="post">
                    {% if not article.image %}
                    <header class="post-header">
                    	<h1 class="post-title">{{ article.title }}</h1>
                    	<div class="post-meta">
                    		<time datetime="{{ article.date|date('F jS, Y') }}">{{ article.date|date('F jS, Y') }}</time>
                    	</div>
                    </header>
                    {% endif %}
                    <section class="post-content">
                        {% autoescape false %}
                        {{ article.content }}
                        {% endautoescape %}
                    </section>
                </article>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</main>
{% endblock %}